@import "../../responsive.scss";

.homePage {
    height: 100vh; // Full viewport height for the container
    overflow-y: scroll; // Enable vertical scrolling
    scroll-behavior: smooth; // Smooth scrolling between sections
    //background-color: #fcf5f3;

    .top {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 70%;
            width: 100%;
            position: relative; /* This allows absolute positioning of children elements */
            margin-top: 40px;
            background-color: #e1cead;
            background-image: url("/new.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 65% 100%;
            background-position: right center;
            justify-content: space-between;
            padding: 50px;

            .heading {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;
                padding-bottom: 20px;
            }

            h1 {
                font-size: 35px;
            }
            p {
                font-size: 15px;
                font-weight: 350;
            }
            @include sm {
                color: white;
                height: 100%;
                gap: 10px;
                background-image: url("/new.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    .mid {
        width: 100%;
        margin-top: 100px;
        .head {
            display: flex;
            height: 50px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;

            span {
                font-size: 22px;
                font-weight: 600;

                @include sm {
                    font-size: 18px;
                }
            }
            div {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #333;

                @include sm {
                    font-size: 12px;
                    gap: 6px;
                }
                a {
                    display: flex;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;

                        @include sm {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .listings {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: linear-gradient(to bottom, white 60%, whitesmoke 40%);
        }
    }
    .btm {
        width: 100%;
        display: flex;
        margin-top: 100px;
        margin-bottom: 100px;
        //background-color: #e1cead;

        @include sm {
            flex-direction: column;
        }

        .left {
            width: 100%;
            height: 500px;
            background-image: url("/about.jpg");
            background-size: contain; // Ensures full image is shown
            background-repeat: no-repeat; // Avoid tiling
            background-position: left;

            @include sm {
                background-position: center;
            }
        }
        .right {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            @include sm {
                padding: 16px;
                gap: 20px;
            }

            span {
                font-size: 20px;

                @include sm {
                    font-size: 18px;
                }
            }

            h2 {
                font-size: 40px;
                font-weight: 600;

                @include sm {
                    font-size: 30px;
                }
            }
            p {
                font-weight: 350;
            }
            .boxes {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include sm {
                    margin-top: 25px;
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 28px;

                        @include sm {
                            font-size: 20px;
                        }
                    }
                    h2 {
                        font-size: 15px;
                        font-weight: 300;

                        @include sm {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
.homePage::-webkit-scrollbar {
    display: none;
}
